<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <div class="row">
      <div class="col-md-3">
  	    <%= image_tag "profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
  	    <p>I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience.
  	    </p>
      </div>
    </div>
  </div>
</div>


