<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
    <p class="lead" >App development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management. ... A web developer may be involved in designing a website.</p>
      <p class="lead">
      <%= link_to "About Me", about_path , class: "btn btn-lg btn-secondary" %>
    </p>
</div>